/* コンテンツのすべて --------------------------------------- */
.contents{
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* ヘッダー ------------------------------------------------ */
header{
  background: linear-gradient(#ffa7dd,#d793ff);
  padding-top: 20px;
  padding-bottom: 20px;
}

header ul li{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

header ul li a{
  color: white;
  text-decoration: none;
}

header ul li a:hover{
  color: #a1d9ff;
  text-decoration: underline;
}

header h1{
  color:white;
}

.titleheader{
  position: relative;/*相対配置*/
}

.titleheader h1 {
  position: absolute;/*絶対配置*/
  top: 150px;
  left: 210px;
  font-size: 2em;
  }
  
.titleheader h1 a {
    color :#b751bb;
    text-decoration: none;
  }

.titleheader img{
  border-style: dashed;
  border-color: white;
  }

  /* メイン ------------------------------------------------ */
main{
    margin-top: 25px;
    overflow: hidden;
}

.box{
    width: 400px;
    float :left;
    text-align: left;
    margin: 0 50px;
 }

h2 {
  color :#b751bb;
  font-size :1.2em;
}


  /*  画面の横幅が999px以下の場合に適用 --------------------- */
  @media screen and (max-width : 999px){
  .contents{
    width: auto;
  }

  .titleheader h1 {
    position: absolute;/*絶対配置*/
    top: 150px;
    left: 5%;
    font-size: 2em;
    }
}